body {
  margin: 0;
  text-align: center;
  background-color: lightgray;
}

.app-container {
  display: flex;
  padding-top: 100px;
  margin: 0 20px;
  gap: 20px;
  max-height: 80vh;
}

.navbar {
  background-color: rgb(105, 105, 105);
  position: fixed;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  padding: 30px;
  background-color: rgb(234, 234, 234);
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: scroll;
}

.sidebar a {
  font-size: 14px;
  color: rgb(139, 0, 0)
}

.page {
  padding: 30px;
  background-color: rgb(234, 234, 234);
  width: 80%;
  min-height: 500px;
  border-radius: 20px;
}